/* stylesheet */
@font-face{
  font-family : 'jgs';
  src: url('jgs.ttf');
}

*{
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1rem;
  font-family: 'jgs';
}

.no_cursor, .no_cursor * {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;
  pointer-events: none;
  cursor:none;
}

.no_cursor body {
  overflow: hidden;
}

html{
  font-size: 18px;
}

@media (min-width : 1440px){
  html{
    font-size: 36px;
  }
}
pre{
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  overflow: visible;
}


body{
  background-color: #000;
}

#wrapper{
  height: 100vh;
}

#entities{
  color: #fff;
}

#ground{
  color: #fff;
}

#decor{
  color: #fff;
}

#infos{
  color: #fff;
}
